body {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #ffffff;
  font-family: 'helvetica';
}

.container {
  display: flex;
  flex-direction: column;
  margin-right: 8vw;
  margin-left: 8vw;
  height: 100vh;
}
.three-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-top: 100px;
  margin-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  height: 20vh;
}
.video {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.discription {
  margin-top: 300px;
  margin-right: 10vw;
  margin-left: 10vw;
  color: #000000;
}
